.input-range__track--active,
.input-range__slider {
  border: #a0b128;
  background: #a0b128;
}

/* first label, prevents overlapping CLMS-1459 */
.input-range__track.input-range__track--background
  span.input-range__slider-container:nth-child(2)
  span.input-range__label.input-range__label--value {
  width: 0;
  direction: rtl;
  white-space: nowrap;
}

.range-container {
  padding-right: 15px;
  padding-left: 15px;
}
