.ui.column.grid.filecard li,
.ui.column.grid.filecard div {
  font-size: 16px;
}

.ui.column.grid.filecard h3 {
  font-size: 18px;
}

.ui.column.grid.filecard div.trashcontainer {
  box-shadow: none !important;
}
