/* Buttons */
.ccl-button {
  display: inline-block;
  padding: 0.6rem 3rem;
  border: 1px solid transparent;
  border-color: #a0b128;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  color: #a0b128;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  vertical-align: middle;
}

.ccl-button.ccl-button-green {
  background-color: #a0b128;
  color: white;
}

.ccl-button.ccl-button-green:hover {
  border-color: #a0b128;
  background-color: white;
  color: #a0b128;
}

.ccl-button[disabled] {
  border-color: #adb0b8;
  color: #adb0b8;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.ccl-button--default:active,
.ccl-button--default:focus {
  background-color: #fff;
  color: #a0b128;
}

.ccl-button--default:hover {
  background-color: #a0b128;
  color: #fff;
}

/* Forms */
.label-required {
  margin-left: 0.5rem;
  color: crimson;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1rem;
}

.ccl-form {
  padding: 0;
  margin: 0;
}

.ccl-form .ccl-form-control,
.ccl-form input,
.ccl-form select,
.ccl-form textarea {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.5rem 1rem;
  border: 1px solid #ced4da;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0.25rem;
  color: #495057;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.ccl-form .ccl-fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.ccl-form .ccl-form-legend {
  margin: 0;
  font-weight: 600;
  line-height: 1.66;
}

.ccl-form .ccl-form-legend--level-1 {
  display: block;
  width: 100%;
  font-size: 1.375rem;
}

.ccl-form .ccl-form-group {
  margin: 0;
}

.ccl-form * + .ccl-form-group {
  margin-top: 1.66rem;
}

.ccl-form legend {
  display: table;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
  color: inherit;
  white-space: normal;
}

.ccl-form .ccl-form-label {
  display: block;
  padding: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}

.ccl-form .ccl-text-input {
  display: block;
  width: 100%;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #dadada;
  margin: 0;
  background-color: #fff;
  color: #212529;
  font-size: 1rem;
}

.ccl-form * + .ccl-text-input {
  margin-top: 1rem;
}

.ccl-form .invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  color: #da2130;
  font-size: 80%;
}

.ccl-form .ccl-text-input[disabled],
.ccl-form .ccl-text-input[readonly] {
  background-color: #eee;
  cursor: not-allowed;
  opacity: 1;
}

.ccl-form .ccl-help-block {
  margin: 0;
  color: #404040 !important;
  font-size: 0.875rem;
  line-height: 1.66;
}

.ccl-form .ccl-help-block--disabled {
  color: #707070 !important;
}

.ccl-form * + .ccl-help-block {
  margin-top: 0.89rem;
}

.ccl-form .ccl-form-check-input {
  position: absolute;
  display: none;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.ccl-form input[type='checkbox'],
.ccl-form input[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.ccl-form .ccl-form-check-label {
  margin-bottom: 0;
  cursor: pointer;
}

.ccl-form .ccl-form-check-input + .ccl-form-check-label {
  padding-left: 1.75rem;
}

.ccl-form .ccl-form-check-input + .ccl-form-check-label {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ccl-form .ccl-form-check-input + .ccl-form-check-label::after {
  position: absolute;
  top: 0.1666666667rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #404040;
  background: 0 0;
  background-color: white;
  border-radius: 2px;
  content: ' ';
}

.ccl-form .ccl-form-check-input[disabled] + .ccl-form-check-label::after {
  border: 1px solid #dadada;
  background-color: #eee;
  cursor: auto;
}

.ccl-form .ccl-form-check-input[disabled] + .ccl-form-check-label {
  color: #adb0b8;
  cursor: auto;
}

.ccl-form .ccl-form-check-input:checked + .ccl-form-check-label:before {
  position: absolute;
  z-index: 1;
  top: 0.1666666667rem;
  right: -1.1666666667rem;
  left: 0.3888888889rem;
  display: block;
  width: 0.2777777778rem;
  height: 0.7222222222rem;
  border: solid;
  border-width: 0 2px 2px 0;
  border-color: #a0b128;
  content: '';
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ccl-form-check-input:checked + .ccl-form-check-label::after,
.form-check-input:checked + label::after {
  border-color: #a0b128 !important;
}

.ccl-form
  .ccl-checkbox[type='checkbox']:checked
  + .ccl-form-check-label:before {
  top: 0.25rem;
}

.ccl-form button {
  padding-right: 4rem;
  padding-left: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.ccl-form * + .ccl-select-container {
  margin-top: 0.89rem;
}

/* Select */
.ccl-form .ccl-select-container {
  position: relative;
}

.ccl-form .ccl-select-container .ccl-select-selected {
  position: relative;
  display: block;
  width: 100%;
  min-height: 2.5555555556rem;
  box-sizing: border-box;
  padding: 0.5555555556rem 1.1111111111rem;
  border: 1px solid #dadada;
  margin: 0;
  background-color: #fff;
  background-image: none;
  border-radius: 0.25rem;
  color: #000;
  font-size: 1rem;
  line-height: 1.6;
}

.ccl-form .ccl-select-container .ccl-select-selected:after {
  position: absolute;
  right: 0.8888888889rem;
  display: inline-block;
  margin-top: 0.1666666667rem;
  margin-left: 0.2222222222rem;
  margin-left: 0.66rem;
  color: #212529;
  content: '\e914';
  font-family: 'ccl-icons';
  font-size: 1.5rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ccl-form .ccl-select-container .ccl-select-selected.ccl-select-arrow-active {
  border-bottom-color: #eee;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.ccl-form
  .ccl-select-container
  .ccl-select-selected.ccl-select-arrow-active:after {
  content: '\e911';
}

.ccl-form .ccl-select-container .ccl-select-items div,
.ccl-form .ccl-select-container .ccl-select-selected {
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
}

.ccl-form .ccl-select-container .ccl-select-items {
  position: absolute;
  z-index: 99;
  top: 100%;
  right: 0;
  left: 0;
  border: 1px solid #dadada;
  border-top: 0px;
  background-color: #fff;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ccl-form .ccl-select-container .ccl-select-hide {
  display: none;
}

.ccl-form .ccl-select-container .ccl-select-items div:hover,
.ccl-form .ccl-select-container .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.ccl-form .ccl-select-container.ccl-select-container-reverse .ccl-select-items {
  position: absolute;
  z-index: 99;
  top: inherit;
  right: 0;
  bottom: 100%;
  left: 0;
  border-top: 1px solid #dadada;
  border-bottom: 0px;
  background-color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.ccl-form
  .ccl-select-container.ccl-select-container-reverse
  .ccl-select-selected:after {
  content: '\e911';
}

.ccl-form
  .ccl-select-container.ccl-select-container-reverse
  .ccl-select-selected.ccl-select-arrow-active {
  border-top-color: #eee;
  border-bottom-color: 1px solid #dadada;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ccl-form
  .ccl-select-container.ccl-select-container-reverse
  .ccl-select-selected.ccl-select-arrow-active:after {
  content: '\e914';
}

.ccl-select-items .select-hidden-option {
  display: none;
}

.ccl-select-items .select-option-placeholder {
  display: none;
}

.ccl-select-items {
  max-height: 20rem;
  overflow-y: auto;
}

.multiple-select-list {
  display: flex;
  flex-wrap: wrap;
}

.multiple-select-list-item {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 0 0;
  background-color: #273b4b;
  border-radius: 0.25rem;
  color: white;
  font-weight: 200;
}

.multiple-select-list-item .ccl-icon-close {
  margin-left: 1rem;
  cursor: pointer;
}

/* Error */
.ccl-footer-form + .ccl-feedback-message--error {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  color: crimson !important;
  font-weight: normal;
}

.ccl-form .ccl-feedback-message--error {
  margin-top: 0.5rem;
  color: crimson !important;
  font-weight: normal;
}

/* Radio */
.ccl-form .ccl-form-check-input + .ccl-form-radio-label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ccl-form .ccl-form-check-input + .ccl-form-radio-label {
  padding-left: 1.75rem;
}

.ccl-form .ccl-form-check-input + .ccl-form-radio-label::after {
  position: absolute;
  top: 0.1666666667rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #404040;
  background: 0 0;
  background-color: white;
  border-radius: 2px;
  border-radius: 10px;
  content: ' ';
}

.ccl-form-check-input:checked + .ccl-form-radio-label::after {
  border: solid 1px #a0b128;
}

.ccl-form .ccl-form-check-input:checked + .ccl-form-radio-label:before {
  position: absolute;
  z-index: 1;
  top: 0.1666666667rem;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  margin: 0.25rem;
  background-color: #a0b128;
  border-radius: 10px;
  content: '';
  transform: none;
}

.ccl-form .ccl-form-check-input[disabled] + .ccl-form-radio-label::after,
.ccl-form .form-check-input[disabled] + label::after {
  border: 1px solid #dadada;
  background-color: #eee;
  cursor: auto;
}

.ccl-form .ccl-form-check-input[disabled] + .ccl-form-radio-label {
  color: #adb0b8;
  cursor: auto;
}

.ccl-form-radio-label div {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  font-size: 0.95rem;
}

/* File */
.ccl-form .file-upload {
  display: flex;
}

.ccl-form .file-upload-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #dadada;
  border-right: none;
  background-color: #a0b128;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.ccl-form .file-upload-button:hover {
  background-color: #7c8921;
}

.ccl-form .file-upload-selected {
  overflow: hidden;
  padding: 0.5rem;
  border: 1px solid #dadada;
  border-left: none;
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
