.land {
  /* Map viewer */
  .map-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #273b4b;
    font-size: 2rem;
    touch-action: auto;
  }

  .map {
    width: 100%;
    height: 600px;
    padding: 0;
    margin: 0;
  }

  .esri-view .esri-view-surface--inset-outline:focus::after {
    outline: none !important;
  }

  .esri-component.esri-zoom.esri-widget {
    background: none;
    box-shadow: none;
  }

  .esri-widget--button {
    width: 36px;
    height: 36px;
    border: none !important;
    background-color: #a0b128cc;
    overflow: visible;
    box-shadow: none !important;
    color: white;
    font-size: 18px;
    line-height: 1.1rem;
    outline: none;
  }

  .esri-widget--button:hover {
    background-color: #7c8921;
    color: white;
  }

  .esri-widget--button.esri-disabled [class*='esri-icon'] {
    color: white;
  }

  .esri-widget--button.esri-disabled {
    background-color: #cfd893;
    cursor: auto;
  }

  .esri-widget--button.active-widget {
    background: #212529;
  }

  /* Basemap */
  .basemap-container {
    display: flex;
    box-shadow: none !important;
  }

  .esri-basemap-gallery__item:first-child {
    margin-top: 0;
  }

  .esri-basemap-gallery__item {
    margin: 0;
  }

  .esri-basemap-gallery__item--selected,
  .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:hover,
  .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:focus {
    border-left-color: #7c8921;
    background-color: #a0b1280f;
  }

  .esri-view-width-greater-than-large
    .esri-ui-corner
    .esri-basemap-gallery.esri-component
    .esri-basemap-gallery__item--selected,
  .esri-view-width-greater-than-large
    .esri-ui-corner
    .esri-basemap-gallery.esri-component
    .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:hover,
  .esri-view-width-greater-than-large
    .esri-ui-corner
    .esri-basemap-gallery.esri-component
    .esri-basemap-gallery__item.esri-basemap-gallery__item--selected:focus {
    border-color: #a0b128;
  }

  /* Measure */
  .measurement-panel {
    margin-top: -1rem;
  }

  .measurement-dropdown .ccl-expandable__button {
    position: relative;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #a0b12833;
    background-color: white;
    color: #212529;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: none;
  }

  .measurement-dropdown .ccl-expandable__button .dropdown-icon {
    height: 1.25rem;
    margin-left: auto;
    color: #a0b128;
  }

  .measurement-dropdown
    .ccl-expandable__button[aria-expanded='true']
    .dropdown-icon {
    transform: rotate(-180deg);
  }

  .measurement-dropdown .ccl-expandable__button[aria-expanded='false'] + * {
    display: none;
  }

  .measurement-dropdown .ccl-expandable__button[aria-expanded='true'] + * {
    display: block;
  }

  .measurement-dropdown .map-menu-icon {
    margin-right: 1rem;
    margin-left: 0 !important;
    font-size: 1.25rem;
  }

  .esri-area-measurement-2d,
  .esri-distance-measurement-2d {
    border-bottom: solid 1px #a0b12833;
  }

  .measurement-dropdown-container .esri-area-measurement-2d__measurement,
  .measurement-dropdown-container .esri-distance-measurement-2d__measurement {
    background: white;
  }

  .measurement-container {
    display: flex;
    box-shadow: none !important;
  }

  .measurement-container .measurement-area.esri-measurement {
    display: block;
    flex-direction: column;
  }

  .measurement-buttons {
    display: flex;
    justify-content: space-evenly;
    background: white;
  }

  .measurement-buttons .esri-widget--button {
    width: 100%;
    border-bottom: solid 4px transparent !important;
    background-color: white;
    color: #a0b128;
  }

  .measurement-buttons .esri-widget--button:hover {
    background-color: white;
    color: #a0b128;
  }

  .measurement-buttons .esri-widget--button.active {
    border-color: #a0b128 !important;
  }

  .esri-measurement .esri-area-measurement-2d__clear-button,
  .esri-measurement .esri-distance-measurement-2d__clear-button {
    border-color: #a0b128;
    background-color: white;
    color: #a0b128;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  .esri-measurement .esri-area-measurement-2d__clear-button:hover,
  .esri-measurement .esri-distance-measurement-2d__clear-button:hover {
    border-color: #a0b128;
    background-color: #a0b128;
    color: white;
  }

  .measurement-coords {
    display: none;
    padding: 1rem;
    background-color: white;
  }

  /* Print */
  .print-container {
    display: flex;
    box-shadow: none !important;
  }

  .esri-print__layout-tab {
    font-size: 1rem;
  }

  .esri-print .esri-button {
    border-color: #a0b128;
    background-color: white;
    color: #a0b128;
    transition: all 0.3s ease-out;
  }

  .esri-print .esri-button:hover {
    border-color: #a0b128;
    background-color: #a0b128;
    color: white;
  }

  /* Area */
  .area-container {
    display: flex;
    box-shadow: none !important;
  }

  .area-panel .ccl-form-group:not(:first-of-type) {
    margin-top: 0.5rem;
  }

  .area-panel fieldset {
    padding: 0;
    border: none;
    margin: 0;
  }

  /* Left menu */
  .map-menu {
    display: none;
    width: 450px;
  }

  .map-menu {
    color: black;
    font-size: 1rem;
  }

  .map-menu.tab-container .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1rem;
    border-bottom: solid 4px white;
    margin: 0;
    background: white;
    color: #273b4b;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    white-space: normal;
  }

  .map-menu.tab-container .tab-selected {
    border-bottom: solid 4px #a0b128;
    background: white;
  }

  .map-menu.tab-container .tabs {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    border-bottom: solid 1px #dadada;
    background-color: white;
    white-space: nowrap;
  }

  .map-left-menu-container {
    display: flex;
    box-shadow: none !important;
  }

  .map-menu .ccl-fieldset {
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: 0;
  }

  .map-menu .ccl-fieldset .ccl-dropdown__link {
    margin-top: 0;
  }

  .map-menu .ccl-form-legend {
    line-height: inherit;
  }

  .map-menu .panels {
    width: 100%;
    height: 450px;
    padding: 0;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .map-menu .panel {
    position: relative;
    display: none;
    animation: fadein 0.8s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .map-menu.tab-container .panel-selected {
    display: block;
  }

  .map-menu-dropdown .ccl-expandable__button {
    position: relative;
    display: -webkit-flex;
    display: flex;
    padding: 1rem;
    padding-left: 1rem;
    border: none;
    border-bottom: solid 1px #a0b12833;
    background-color: white;
    color: #212529;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
  }

  .map-menu-dropdown .ccl-expandable__button:hover {
    background-color: #a0b1280d;
  }

  .map-menu-dropdown .ccl-expandable__button .dropdown-icon {
    margin-right: 1rem;
    color: #a0b128;
  }

  .map-menu-dropdown
    .ccl-expandable__button[aria-expanded='false']
    .dropdown-icon {
    transform: rotate(0deg);
  }

  .map-menu-dropdown
    .ccl-expandable__button[aria-expanded='true']
    .dropdown-icon {
    transform: rotate(90deg);
  }

  .map-menu-dropdown .ccl-expandable__button[aria-expanded='false'] + * {
    display: none;
  }

  .map-menu-dropdown .ccl-expandable__button[aria-expanded='true'] + * {
    display: block;
  }

  .map-menu-dropdown > .ccl-expandable__button {
    margin-bottom: 0;
  }

  .map-menu-product-dropdown .ccl-expandable__button {
    padding-left: 2.5rem;
  }

  .map-menu-dataset-dropdown .ccl-expandable__button {
    padding-left: 4rem;
  }

  .map-menu-dropdown .ccl-form .ccl-form-group {
    display: flex;
    margin-top: 0;
  }

  .map-menu-dropdown .map-menu-dataset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .map-menu-dataset-dropdown .map-dataset-checkbox {
    width: 100%;
  }

  .map-menu-dataset-dropdown .map-dataset-checkbox > .ccl-form-group {
    justify-content: space-between;
  }

  .map-menu-layers-container {
    width: 100%;
  }

  .map-menu-layer {
    padding: 1rem;
    padding-left: 7rem;
    border-bottom: solid 1px #a0b12833;
    margin-top: 0 !important;
  }

  .map-menu-layer:hover {
    background-color: #a0b1280d;
  }

  .map-menu-icons {
    display: inline-block;
    white-space: nowrap;
  }

  .map-menu-icon {
    margin-left: 1rem;
    color: #a0b128;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
  }

  .map-menu-dropdown i:hover {
    color: #7c8921;
  }

  #active_panel .no-active-datasets {
    display: block;
    margin: 1rem;
  }

  #active_panel .active-layer + .no-active-datasets {
    display: none;
  }

  .active-layer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: solid 1px #a0b12833;
  }

  .active-layer:hover {
    background: #a0b1280d;
    cursor: move;
  }

  .active-layer-options {
    white-space: nowrap;
  }

  .active-layer-options i {
    margin: 0;
    color: #a0b128;
    cursor: pointer;
    font-size: 1rem;
  }

  .active-layer-options i:hover,
  .active-layer-options svg:hover,
  .map-menu-icons svg:hover {
    color: #7c8921;
  }

  .active-layer-options > span {
    margin-left: 1rem;
  }

  #nolayers_message {
    padding: 1rem;
  }

  /* Download area */
  .map-download-area-container {
    position: relative;
  }

  .map-download-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    min-width: 350px;
    max-width: 500px;
    padding: 1.5rem;
    margin-top: 15px;
    margin-left: 15px;
    background-color: white;
  }

  .map-download-title {
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
  }

  .map-download-title span {
    color: #a0b128;
  }

  .map-download-area,
  .map-download-resource {
    margin-bottom: 1.5rem;
  }

  .map-download-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .map-download-area .ccl-form-legend + .ccl-form-group {
    margin-top: 0.5rem;
  }

  .map-download-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }

  .map-download-block .ccl-form-group:not(:first-of-type) {
    margin-top: 0.5rem;
  }

  /* Legend*/
  .legend-container {
    display: flex;
    box-shadow: none !important;
  }

  .esri-legend .esri-legend__service {
    border-bottom: solid 1px #a0b12833;
  }

  .esri-legend esri-legend__layer-cell--info {
    display: none;
  }

  /* Info widget */
  .info-table tr:nth-child(even) {
    background-color: #a0b1280f;
  }

  .info-table tr:nth-child(odd) {
    background-color: #a0b12833;
  }

  /* Login */
  .login-panel {
    position: absolute;
    display: none;
    padding: 1rem;
    background: white;
    box-shadow: 0px 0px 4px 0px #dadada;
  }

  .login-panel .login-block {
    width: 100%;
    margin: 0;
    background: none;
    float: none;
  }

  .login-panel .login-text {
    margin-bottom: 1rem;
  }

  .login-panel .login-block .ccl-button {
    margin: 0;
  }

  #login_close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    color: #a0b128;
    cursor: pointer;
  }

  .map-menu-icon-login .fa-lock {
    position: absolute;
    top: 1.75rem;
    right: 0.75rem;
    font-size: 0.85rem;
  }

  .map-area-block {
    display: none;
  }

  .map-area-block button {
    margin: 1rem;
  }

  /* Time slider */
  .esri-time-slider__time-extent-group > * {
    color: #273b4b;
  }

  .esri-slider__thumb {
    border-color: #a0b128;
    outline: none !important;
  }

  .esri-slider__thumb:hover {
    border-color: #7c8921;
  }

  .esri-slider__anchor--moving:focus .esri-slider__thumb {
    border-color: #7c8921;
  }

  .esri-time-slider__slider {
    background-color: #a0b1280f;
  }

  .esri-time-slider__slider .esri-slider {
    background-color: transparent;
  }

  .esri-time-slider .esri-slider__segment--interactive {
    background-color: #a0b128;
  }

  .esri-time-slider .esri-slider__segment {
    background: #c5c5c5;
  }

  #timeslider_close {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    margin: 0.5rem;
    color: #a0b128;
    cursor: pointer;
  }

  .timeslider-panel + #timeslider_close {
    display: block;
  }

  /* Opacity */
  .opacity-panel {
    position: absolute;
    display: none;
    width: 200px;
    padding: 1rem;
    background: white;
    box-shadow: 0px 0px 4px 0px #dadada;
  }

  #opacity_close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    color: #a0b128;
    cursor: pointer;
  }

  .opacity-title {
    color: #273b4b;
    font-size: 0.875rem;
    font-weight: 600;
  }

  .opacity-label {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
    white-space: nowrap;
  }

  .opacity-label.left {
    float: left;
  }

  .opacity-label.right {
    float: right;
  }

  input[type='range'] {
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    background: #c5c5c5;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border: solid 3px #a0b128;
    -webkit-appearance: none;
    background: white;
    border-radius: 50%;
    cursor: grab;
    transition: all 0.3s ease-in-out;
  }

  input[type='range']::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border: solid 3px #a0b128;
    -webkit-appearance: none;
    background: white;
    border-radius: 50%;
    cursor: grab;
    transition: all 0.3s ease-in-out;
  }

  input[type='range']::-ms-thumb {
    width: 16px;
    height: 16px;
    border: solid 3px #a0b128;
    -webkit-appearance: none;
    background: white;
    border-radius: 50%;
    cursor: grab;
    transition: all 0.3s ease-in-out;
  }

  input[type='range']::-webkit-slider-thumb:hover {
    border-color: #7c8921;
    transform: scale(1.2);
  }

  input[type='range']::-moz-range-thumb:hover {
    border-color: #7c8921;
    transform: scale(1.2);
  }

  input[type='range']::-ms-thumb:hover {
    border-color: #7c8921;
    transform: scale(1.2);
  }

  input[type='range']::-webkit-slider-runnable-track {
    border: none;
    -webkit-appearance: none;
    background: transparent;
    box-shadow: none;
  }

  input[type='range']::-moz-range-track {
    border: none;
    -webkit-appearance: none;
    background: transparent;
    box-shadow: none;
  }

  input[type='range']::-ms-track {
    border: none;
    -webkit-appearance: none;
    background: transparent;
    box-shadow: none;
  }
}
