/* Dropdown */
.dropdown .ccl-expandable__button {
  position: relative;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-right: 2.5rem;
  margin: 0;
  background-color: #a0b1280f;
  color: #212529;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.dropdown .ccl-expandable__button::after {
  position: absolute;
  right: 0;
  font-family: 'ccl-icons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown .ccl-expandable__button[aria-expanded='false']::after {
  content: '\e914';
  transform: rotate(0deg);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.dropdown .ccl-expandable__button[aria-expanded='true']::after {
  content: '\e914';
  transform: rotate(-180deg);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.dropdown .ccl-expandable__button::after {
  margin-right: 1rem;
  color: #a0b128;
}

.dropdown .ccl-expandable__button:hover::after {
  color: #7c8921;
}

.dropdown .ccl-expandable__button[aria-expanded='false'] + * {
  display: none;
}

.dropdown .ccl-expandable__button[aria-expanded='true'] + * {
  display: block;
}

.dropdown .ccl-expandable__button h2 {
  padding: 0;
  margin: 0;
}

.dropdown .ccl-expandable__button:not(:first-of-type) {
  margin-top: 0.25rem;
}

.dropdown .ccl-expandable__button::after {
  margin-right: 1rem;
  color: #a0b128;
}

.dropdown .ccl-expandable__button:hover::after {
  color: #7c8921;
}

/* Filters */
.dropdown-filters .ccl-expandable__button {
  position: relative;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-right: 2.5rem;
  margin: 0;
  background-color: #a0b1280f;
  color: #212529;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.dropdown-filters .ccl-expandable__button::after {
  position: absolute;
  right: 0;
  font-family: 'ccl-icons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.dropdown-filters .ccl-expandable__button[aria-expanded='false']::after {
  content: '\e914';
  transform: rotate(0deg);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.dropdown-filters .ccl-expandable__button[aria-expanded='true']::after {
  content: '\e914';
  transform: rotate(-180deg);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.dropdown-filters .ccl-expandable__button::after {
  margin-right: 1rem;
  color: #a0b128;
}

.dropdown-filters .ccl-expandable__button:hover::after {
  color: #7c8921;
}

.dropdown-filters .ccl-expandable__button[aria-expanded='false'] + * {
  display: none;
}

.dropdown-filters .ccl-expandable__button[aria-expanded='true'] + * {
  display: block;
}

.dropdown-filters .ccl-expandable__button:not(:first-of-type) {
  margin-top: 0.25rem;
}

.dropdown-filters .ccl-expandable__button + .ccl-form {
  padding: 0 1rem 0.5rem 1rem;
  background-color: #a0b1280f;
}

.dropdown-filters .ccl-form .ccl-form-group {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-top: 0;
}

.dropdown-filters .ccl-fieldset {
  border: none;
  margin-bottom: 0.25rem;
}

.dropdown-filters {
  margin-bottom: 1rem;
}

.dropdown-filters
  .ccl-expandable__button
  + .ccl-form
  .ccl-expandable__button
  .ccl-form {
  background-color: transparent;
}

.dropdown-filters .ccl-expandable__button + .ccl-form .ccl-expandable__button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-weight: normal;
}

.dropdown-filters
  .ccl-expandable__button
  + .ccl-form
  .ccl-expandable__button
  + .ccl-form {
  padding-left: 1rem;
  background-color: transparent;
}

.dropdown-filters
  .ccl-expandable__button
  + .ccl-form
  .ccl-expandable__button::after {
  margin-right: 0;
}

.dropdown-filters .ccl-filter-list li {
  font-size: 1rem;
  line-height: inherit;
}

/* Left menu */
.left-menu .card {
  position: relative;
  border: none;
  margin-bottom: 0.5rem;
  background-color: #a0b1280f;
  border-radius: 0;
  color: #a0b128;
  font-size: 1.125rem;
}

.left-menu .card.active {
  background-color: #a0b128;
}

.left-menu .subcard {
  margin-left: 1rem;
}

.left-menu a {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  border-left: solid 4px transparent;
  color: #a0b128;
  text-decoration: none;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  vertical-align: middle;
}

.left-menu a:hover {
  border-color: #a0b128;
  color: #a0b128;
}

.left-menu .active a {
  color: white;
}

.left-menu {
  margin-bottom: 2rem;
}

/* Search bar */
main .search-form .ccl-text-input {
  width: 100%;
  min-height: 2.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #dadada;
  margin: 0;
  background-color: #fff;
  border-radius: 0;
  color: #212529;
  font-size: 1rem;
}

main .search-form .ccl-text-input::placeholder {
  color: #adb0b8;
}

main .search-form {
  display: flex;
  margin-bottom: 2rem;
}

main .search-form + hr,
main .page-description + hr,
main .search-results + hr {
  margin-bottom: 1.5rem;
  background-color: #adb0b8;
}

main .search-form button {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0;
  margin-left: 0.5rem;
  background-color: #444c55;
  color: white;
}

main .search-form button:hover {
  background-color: #212529;
}
