.vscode/
.history
logs
*.log
npm-debug.log*
.DS_Store
*.swp
yarn-error.log

node_modules
build
dist
screenshots
cypress/videos/*.mp4
cypress/screenshots
cypress/reports/*.xml
.env.local
.env.development.local
.env.test.local
.env.production.local
