/* Ui modals dimmer */
.ui.modals.dimmer {
  background-color: #21252980;
}

/* Login modal */
.modals.dimmer .ui.modal.modal-clms {
  /*display: none;*/
  position: fixed;
  /*top: 0;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  background: transparent;
  margin: auto;
  box-shadow: none;
}
.modal-clms-background {
  /*background-color: #21252980;*/
  /*height: 100vh;*/
  display: flex;
  overflow: auto;
}
.modal-clms-container {
  position: relative;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
  /*max-width: 460px;*/
}
@media (min-width: 768px) {
  .modal-clms-container {
    /*width: 60%;*/
    padding: 4rem;
  }
}
.modal-clms-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  color: #adb0b8;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.modal-clms-close:hover {
  color: #273b4b;
}
.modal-login-title {
  text-align: center;
  color: #273b4b;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
}
.modal-login-field {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #a0b1280f;
  display: flex;
  align-items: center;
}
.modal-login-field i {
  color: #a0b128;
  padding-right: 1rem;
  border-right: solid 2px #a0b128;
  padding: 0 1rem;
  font-size: 1.25rem;
}
.modal-login-field input {
  background-color: transparent;
  height: 3rem;
  padding: 1rem;
  border: none;
  width: 100%;
  outline: none !important;
  font-size: 1rem;
}
.modal-login-field input::placeholder {
  color: #adb0b8;
}
.modal-login-field + a {
  display: block;
  text-align: right;
}
.modal-clms .ccl-button {
  width: 60%;
  margin: 2rem auto 0;
}
.modal-clms hr {
  margin: 2rem 0;
  padding: 0;
  border: 0;
  height: 1px;
  background: #a0b128;
}
.modal-login-text {
  line-height: 1.5rem;
}

/* Language modal */
.modals.dimmer .ui.modal.modal-language {
  /*display: none;*/
  position: fixed;
  /*top: 0;*/
  /*bottom: 0;*/
  width: 100%;
}
.modal-language-background {
  /*background-color: rgb(255 255 255);*/
  /*height: 100vh;*/
  display: flex;
  padding: 2.5rem;
  overflow: auto;
}
.modal-language-container {
  /*height: max-content;*/
  position: relative;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  /*width: 90%;*/
  max-width: 460px;
}
.modal-language-header {
  color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.modal-language-close {
  color: white;
  margin: 0.5rem;
  right: -0.5rem;
  color: #a0b128;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.modal-language-close:hover {
  color: #7c8921;
}
.modal-language-title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  color: #a0b128;
}
.modal-language-title i {
  margin-right: 1rem;
  font-size: 2rem;
}
.modal-language-title h3 {
  margin-bottom: 0;
  color: #a0b128;
  font-weight: normal;
}
.language-list {
  display: flex;
  flex-wrap: wrap;
}
.language-item {
  margin-bottom: 0.25rem;
  width: 100%;
  padding: 0;
}
.language-item span {
  display: block;
  padding: 1rem;
  text-decoration: none;
  background-color: #a0b1280f;
  border-left: solid 4px transparent;
  color: #a0b128;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.language-item.language-item-selected span {
  color: white;
  background-color: #a0b128;
}
.language-item span:hover {
  border-color: #a0b128;
}
.modal .ccl-container {
  max-width: 100%;
}
@media (min-width: 576px) {
  .modal .ccl-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .modal .ccl-container {
    padding: 0 4rem;
    max-width: 720px;
  }
  .language-item {
    width: 50%;
  }
  .language-item:nth-child(even) {
    padding-left: 1rem;
  }
  .language-item:nth-child(odd) {
    padding-right: 1rem;
  }
}
@media (min-width: 992px) {
  .modal .ccl-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .modal .ccl-container {
    padding: 0 6rem;
    max-width: 1140px;
  }
}
