.left-menu li {
    text-decoration: none;
    vertical-align: middle;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    border-left: solid 4px transparent;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    color: #a0b128;
    cursor: pointer;
  }
  .left-menu li:hover {
    border-color: #a0b128;
    color: #a0b128;
  }
  .left-menu .active li {
    color: white;
  }