@clms-primary: #a0b128;
@clms-dark: #273b4b;
@clms-light-gray: #808080;

body.clmsSearchTechnicalLibrary-view {
  div#page-document.container {
    width: auto !important;
  }
}

.searchlib-block
  .dropdown-facets-list
  .dropdown-facet
  .ui.button.basic.facet-btn.active
  > .facet-title {
  color: @clms-dark;
}

.searchlib-block .dropdown-facets-list .sidebar-wrapper .sidebar-content {
  overflow: hidden;

  h3 {
    color: @clms-dark !important;
  }
}

.searchlib-block .dropdown-facets-list .sidebar-wrapper .clear-btn {
  color: @clms-primary !important;
}

.searchapp.searchapp-clmsSearchTechnicalLibrary {
  a.back-link {
    display: none;
  }

  .listing-body p.listing-description {
    min-height: 0px;
  }

  .ui.secondary.pointing.content-section-tabs.menu {
    .active.item {
      border-color: @clms-primary;
    }

    overflow-x: visible !important;
  }

  i.icon.window.minimize:before {
    content: '⇕';
  }

  i.icon.chevron.down:before {
    color: @clms-light-gray;
    content: '▼';
  }

  fieldset.sui-facet.searchlib-multiterm-facet > div:nth-of-type(2) {
    min-height: 240px !important;
  }

  i.icon.angle.left:before {
    content: '❮';
  }

  i.icon.angle.right:before {
    content: '❯';
  }

  .sidebar-wrapper .accordion.ui {
    border-bottom: 1px solid @clms-primary;
    margin-bottom: 20px;

    .title {
      font-weight: 600;

      i.icon.ri-arrow-down-s-line {
        float: right;
      }

      i.icon.ri-arrow-down-s-line:before {
        position: relative;
        top: -3px;
        color: @clms-light-gray;
        content: '▼';
        font-size: 12px !important;
      }
    }
  }

  div.active-filters button.clear-filters {
    top: 0px !important;
  }

  .u-item.listing-item {
    padding: 0.1rem;
  }

  .result-bottom {
    display: block !important;
  }

  div.card-doc-size {
    float: right;
    font-weight: 300;
  }

  a {
    color: @clms-primary;
  }

  .technical-library-title {
    display: inline-flex !important;
    width: 100%;
    align-items: start;
  }

  .label {
    max-height: fit-content;
  }

  .technical-library-edit {
    max-width: 50px;
    margin-left: 5px;
  }

  .search-body-footer .column.grid {
    margin-top: 0px;
  }

  .search-body-footer {
    .paging-wrapper {
      border-bottom: none;
    }

    .button.double-angle:after,
    .button.double-angle:before {
      top: 11px !important;
      width: 7px !important;
      height: 7px !important;
      color: @clms-primary;
    }

    .button.single-angle:after {
      top: 12px !important;
      width: 7px !important;
      height: 7px !important;
      color: @clms-primary;
    }

    .ui.button.pagination-item {
      min-width: 48px;
      color: @clms-primary;
      font-size: 16px !important;

      &.active {
        color: rgba(0, 0, 0, 0.87) !important;
      }

      &:after {
        display: none;
      }
    }
  }

  div.admin-info {
    strong.categorization-expand {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        margin-left: 8px;
        color: #d3d3d3;
      }
    }
  }
}
