@clms-primary: #a0b128;

.searchapp.searchapp-clmsSearchTechnicalLibrary {
  .u-item.listing-item {
    padding: 0.1rem;
    border-bottom-color: rgba(160, 177, 40, 0.2);
  }

  .result-bottom {
    display: block !important;
  }

  div.card-doc-size {
    float: right;
    font-weight: 300;
  }

  a {
    color: @clms-primary;
  }

  .sui-search-box {
    input {
      border-bottom-color: @clms-primary;
    }

    .search-input {
      .terms-box {
        .terms-box-left {
          border-bottom-color: @clms-primary;
          .search-icon {
            svg {
              fill: @clms-primary !important;
            }
          }
        }
      }
    }
  }
}
