@clms-primary: #a0b128;

body.clmsSearchTechnicalLibrary-view {
  div#page-document.container {
    width: auto !important;
  }
}

.searchapp.searchapp-clmsSearchTechnicalLibrary {
  a.back-link {
    display: none;
  }

  .ui.secondary.pointing.content-section-tabs.menu {
    .active.item {
      border-color: @clms-primary;
    }

    overflow-x: visible !important;
  }

  i.icon.window.minimize:before {
    content: '⇕';
  }

  i.icon.chevron.down:before {
    color: #808080;
    content: '▼';
  }

  i.icon.angle.left:before {
    content: '❮';
  }

  i.icon.angle.right:before {
    content: '❯';
  }

  div.active-filters button.clear-filters {
    top: 0px !important;
  }

  .u-item.listing-item {
    padding: 0.1rem;
  }

  .result-bottom {
    display: block !important;
  }

  div.card-doc-size {
    float: right;
    font-weight: 300;
  }

  a {
    color: @clms-primary;
  }

  .technical-library-title {
    display: inline-flex !important;
    width: 100%;
    align-items: start;
  }

  .label {
    max-height: fit-content;
  }

  .technical-library-edit {
    max-width: 50px;
    margin-left: 5px;
  }

  .search-body-footer .column.grid {
    margin-top: 0px;
  }

  .search-body-footer {
    .paging-wrapper {
      border-bottom: none;
    }

    .button.double-angle:after,
    .button.double-angle:before {
      top: 11px !important;
      width: 7px !important;
      height: 7px !important;
      color: @clms-primary;
    }

    .button.single-angle:after {
      top: 12px !important;
      width: 7px !important;
      height: 7px !important;
      color: @clms-primary;
    }

    .ui.button.pagination-item {
      min-width: 48px;
      color: @clms-primary;
      font-size: 16px !important;

      &.active {
        color: rgba(0, 0, 0, 0.87) !important;
      }

      &:after {
        display: none;
      }
    }
  }

  div.admin-info {
    strong.categorization-expand {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        margin-left: 8px;
        color: #d3d3d3;
      }
    }
  }
}
