.tabs-block.CCLVerticalFaqTabs > div.styled {
  display: block !important;
}

div.tabs-block.CCLCarousel {
  div & {
    position: relative !important;
    right: 50% !important;
    left: 50% !important;
    width: 100vw !important;
    max-width: initial !important;
    // margin-top: -2rem;
    margin-right: -50vw !important;
    margin-left: -50vw !important;
  }
}

.tabs-block .slick-slider {
  z-index: 1;
}

.slick-arrows {
  margin-top: -2rem !important;
}
