.footer-clms-col {
  width: 28%;
  background-color: #a0b128;
  color: white;
}

.footer-clms-col-title {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.footer-clms-col-title.border-bottom {
  border-bottom: 1px solid #dadada;
}

@media (max-width: 900px) {
  .footer-clms-col {
    width: 100%;
  }
}
