.chatbot-floating-button {
  position: fixed;
  z-index: 995; // Cookies banner has 1000
  right: 20px;
  bottom: 20px;
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: #ffcb2b;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  img {
    width: 28px;
    height: 28px;
  }

  &:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }
}
