.left-menu li {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  border-left: solid 4px transparent;
  color: @clmsGreen;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  vertical-align: middle;
}

.left-menu li:hover {
  border-color: @clmsGreen;
  color: @clmsGreen;
}

.left-menu .active li {
  color: white;
}

.deactivate-content {
  display: none;
}

.block-editor-tabs_block
  .block.tabs_block
  .tabs-block.edit
  .default.tabs
  .ui.left.menu {
  flex-wrap: wrap;
}
