.folder-contents .ui.table .icon-align-name {
  max-width: unset;
}

.ui.table td,
.ui.table th,
.folder-contents .ui.table .icon-align-name span.content-title-force-one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.table.many-columns .icon-align-name span.content-title-force-one-line {
  max-width: 400px;
}

.ui.table.three-columns .icon-align-name span.content-title-force-one-line {
  width: 440px;
}

.ui.table.two-columns .icon-align-name span.content-title-force-one-line {
  width: 600px;
}

.ui.table.one-column .icon-align-name span.content-title-force-one-line {
  width: 770px;
}
