/* Cards */
.card-line {
  position: relative;
  display: flex;
  padding: 1rem 0;
}

.card-line:not(:last-of-type) {
  border-bottom: solid 1px #a0b12833;
}

.card-line.hide-line {
  border-bottom: none;
}

.card-line .card-image {
  margin-right: 1rem;
}

.card-line img {
  width: 8rem;
  height: 6rem;
  object-fit: cover;
}

.card-text {
  width: 100%;
}

.card-title {
  margin-bottom: 1rem;
  color: #a0b128;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.card-title a {
  text-decoration: none;
}

.card-title a:hover {
  text-decoration: underline;
}

.card-description {
  line-height: 1.5rem;
}

.card-line-color {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
  background-color: #a0b1280f;
}

.card-line-color .card-image {
  width: 12rem;
  height: 12rem;
  margin: 0;
}

.card-line-color img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-line-color .card-text {
  width: auto;
  padding: 1.5rem;
}

.card-line-color .card-button {
  margin-top: 1.5rem;
}

@media (max-width: 480px) {
  .card-line-color {
    flex-wrap: wrap;
  }

  .card-line-color .card-image {
    width: 100%;
  }

  .card-line-color .card-text {
    width: 100%;
  }
}

.card-block {
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  background-color: #a0b1280f;
}

.card-block .card-block-image {
  height: 12rem;
}

.card-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-block .card-text {
  padding: 1.5rem;
}

.card-block .card-description {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .card-block {
    width: calc(50% - 0.5rem);
  }

  .card-block:nth-child(odd) {
    margin-right: 1rem;
  }
}

/* three-column */
.card-threeCollums {
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  background-color: #a0b1280f;
}

.card-threeCollums .card-threeCollums-image {
  height: 12rem;
}

.card-threeCollums img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-threeCollums .card-text {
  padding: 1.5rem;
}

.card-threeCollums .card-description {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .card-threeCollums {
    width: calc(32.3% - 0.5rem);
  }

  .card-threeCollums {
    margin-right: 1rem;
  }
}

/* News */
.card-news {
  display: flex;
}

.card-news:not(:last-of-type) {
  padding-bottom: 1rem;
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 1rem;
}

.card-news .card-news-image {
  flex-shrink: 0;
  margin-right: 1.5rem;
}

.card-news .card-news-image img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.card-news-text .card-news-title {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.card-news-text .card-news-title a {
  text-decoration: none;
}

.card-news-text .card-news-title a:hover {
  text-decoration: underline;
}

.card-news-text .card-news-date {
  margin-bottom: 1rem;
  color: #adb0b8;
}

.card-news-text .card-news-description {
  margin-bottom: 0;
  font-size: 1rem;
}
@media (max-width: 480px) {
  .card-news {
    flex-wrap: wrap;
  }

  .card-news .card-news-image {
    width: 100%;
  }

  .card-news .card-news-image img {
    width: 100%;
  }

  .card-news .card-news-text {
    margin-top: 1rem;
  }
}

/* Events */
.card-event {
  display: flex;
}

.card-event:not(:last-of-type) {
  padding-bottom: 1rem;
  border-bottom: solid 1px #ebebeb;
  margin-bottom: 1rem;
}

.card-event .card-event-image {
  flex-shrink: 0;
  margin-right: 1.5rem;
}

.card-event .card-event-image img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.card-event-text .card-event-date {
  margin-bottom: 1rem;
  color: #adb0b8;
}

.card-event-text .card-event-title {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.card-event-text .card-event-title a {
  text-decoration: none;
}

.card-event-text .card-event-title a:hover {
  text-decoration: underline;
}

.card-event-text .card-event-description {
  margin-bottom: 0;
  font-size: 1rem;
}
@media (max-width: 480px) {
  .card-event {
    flex-wrap: wrap;
  }

  .card-event .card-event-image {
    width: 100%;
  }

  .card-event .card-event-image img {
    width: 100%;
  }

  .card-event .card-event-text {
    margin-top: 1rem;
  }
}

.card-event i {
  width: 1rem;
  margin-right: 0.5rem;
}

.card-event-when,
.card-event-where {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card-event-when-title,
.card-event-where-title {
  margin-bottom: 0.5em;
  color: #a0b128;
  font-weight: bold;
}

/* Documents */
.card-doc {
  padding: 1rem;
}

.card-doc:not(:last-of-type) {
  border-bottom: solid 1px #a0b12833;
}

/* Documents */
.card-doc {
  padding: 1rem;
}

.card-doc:not(:last-of-type) {
  border-bottom: solid 1px #a0b12833;
}

.card-doc-title {
  margin-bottom: 1rem;
  color: #a0b128;
  font-size: 1.125rem;
  font-weight: bold;
}

.card-doc-text {
  display: flex;
  justify-content: space-between;
}

.card-doc-size {
  margin-left: 1rem;
  white-space: nowrap;
}

/* Work opportunities */
.card-work {
  padding: 2rem;
  background: #a0b1280f;
}

.card-work:not(:last-of-type) {
  margin-bottom: 1rem;
}

.card-work-number {
  margin-bottom: 1rem;
}

.card-work-number-title,
.card-work-deadline-title {
  margin-right: 0.25rem;
  font-weight: bold;
}

/* Work opportunities */
.card-work {
  padding: 2rem;
  background: #a0b1280f;
}

.card-work:not(:last-of-type) {
  margin-bottom: 1rem;
}

.card-work-number {
  margin-bottom: 1rem;
}

.card-work-number-title,
.card-work-deadline-title {
  margin-right: 0.25rem;
  font-weight: bold;
}

.card-event svg {
  width: 1rem;
  margin-right: 0.5rem;
}
